apiVersion: deckhouse.io/v1alpha1
kind: KubeSchedulerWebhookConfiguration
metadata:
  name: d8-{{ .Chart.Name }}
  {{- include "helm_lib_module_labels" (list . (dict "app" "sds-local-volume-scheduler-extender")) | nindent 2 }}
webhooks:
- weight: 5
  failurePolicy: Fail
  clientConfig:
    service:
      name: {{ .Chart.Name }}-scheduler-extender
      namespace: d8-{{ .Chart.Name }}
      port: 8099
      path: /scheduler
    caBundle: {{ .Values.sdsLocalVolume.internal.customSchedulerExtenderCert.ca | b64enc }}
  timeoutSeconds: 10
