type: object
required: []
properties:
  logLevel:
    type: string
    enum:
      - ERROR
      - WARN
      - INFO
      - DEBUG
      - TRACE
    description: Module log level
    default: DEBUG
  enableThinProvisioning:
    type: boolean
    default: false
    description: Allow thin LVM volumes usage
  rawFileDefaultDataDir:
    type: string
    default: /var/lib/sds-local-volume/rawfile
    description: |
      Default directory for storing RawFile volumes data.

      This directory will be used when `dataDir` is not specified in LocalStorageClass.
  dataNodes:
    type: object
    description: Settings for local volumes csi on nodes with data
    default: {}
    properties:
      nodeSelector:
        type: object
        default:
          kubernetes.io/os: linux
        additionalProperties:
          type: string
        description: |
          The same as in the Pods `spec.nodeSelector` parameter in Kubernetes.

          If parameter is omitted, local volume csi will be placed on all nodes.

          **Caution!** Changing this parameter does not result in data redistribution. If node with data no longer matches the `nodeSelector`, data on that node will become inaccessible.
