{{- define "sds_local_volume_controller_resources" }}
cpu: 10m
memory: 25Mi
{{- end }}

{{- if (.Values.global.enabledModules | has "vertical-pod-autoscaler-crd") }}
---
apiVersion: autoscaling.k8s.io/v1
kind: VerticalPodAutoscaler
metadata:
  name: sds-local-volume-controller
  namespace: d8-{{ .Chart.Name }}
  {{- include "helm_lib_module_labels" (list . (dict "app" "sds-local-volume-controller")) | nindent 2 }}
spec:
  targetRef:
    apiVersion: "apps/v1"
    kind: Deployment
    name: sds-local-volume-controller
  updatePolicy:
    updateMode: "Auto"
  resourcePolicy:
    containerPolicies:
    - containerName: "sds-local-volume-controller"
      minAllowed:
        {{- include "sds_local_volume_controller_resources" . | nindent 8 }}
      maxAllowed:
        cpu: 200m
        memory: 100Mi
{{- end }}
---
apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: sds-local-volume-controller
  namespace: d8-{{ .Chart.Name }}
  {{- include "helm_lib_module_labels" (list . (dict "app" "sds-local-volume-controller" )) | nindent 2 }}
spec:
  minAvailable: {{ include "helm_lib_is_ha_to_value" (list . 1 0) }}
  selector:
    matchLabels:
      app: sds-local-volume-controller
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: sds-local-volume-controller
  namespace: d8-{{ .Chart.Name }}
  {{- include "helm_lib_module_labels" (list . (dict "app" "sds-local-volume-controller")) | nindent 2 }}
spec:
  revisionHistoryLimit: 2
  {{- include "helm_lib_deployment_strategy_and_replicas_for_ha" . | nindent 2 }}
  selector:
    matchLabels:
      app: sds-local-volume-controller
  template:
    metadata:
      labels:
        app: sds-local-volume-controller
    spec:
      {{- include "helm_lib_priority_class" (tuple . "cluster-medium") | nindent 6 }}
      {{- include "helm_lib_node_selector" (tuple . "system") | nindent 6 }}
      {{- include "helm_lib_tolerations" (tuple . "system") | nindent 6 }}
      {{- include "helm_lib_module_pod_security_context_run_as_user_nobody" . | nindent 6 }}
      {{- include "helm_lib_pod_anti_affinity_for_ha" (list . (dict "app" "sds-local-volume-controller")) | nindent 6 }}
      imagePullSecrets:
        - name: {{ .Chart.Name }}-module-registry
      serviceAccountName: controller
      containers:
        - name: sds-local-volume-controller
          image: {{ include "helm_lib_module_image" (list . "sdsLocalVolumeController") }}
          imagePullPolicy: IfNotPresent
          readinessProbe:
            httpGet:
              path: /readyz
              port: 8081
              scheme: HTTP
            initialDelaySeconds: 10
            periodSeconds: 10
            timeoutSeconds: 15
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8081
              scheme: HTTP
            periodSeconds: 1
            failureThreshold: 3
          resources:
            requests:
              {{- include "helm_lib_module_ephemeral_storage_only_logs" . | nindent 14 }}
{{- if not ( .Values.global.enabledModules | has "vertical-pod-autoscaler-crd") }}
              {{- include "sds_local_volume_controller_resources" . | nindent 14 }}
{{- end }}
          securityContext:
            readOnlyRootFilesystem: true
            privileged: true
            seLinuxOptions:
              level: s0
              type: spc_t
          env:
            - name: LOG_LEVEL
{{- if eq .Values.sdsLocalVolume.logLevel "ERROR" }}
              value: "0"
{{- else if eq .Values.sdsLocalVolume.logLevel "WARN" }}
              value: "1"
{{- else if eq .Values.sdsLocalVolume.logLevel "INFO" }}
              value: "2"
{{- else if eq .Values.sdsLocalVolume.logLevel "DEBUG" }}
              value: "3"
{{- else if eq .Values.sdsLocalVolume.logLevel "TRACE" }}
              value: "4"
{{- end }}
            - name: CONTROLLER_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
